.selectedVariants {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.selectedVariants h3 {
    margin-bottom: 10px;
}

.selectedVariants ul {
    list-style-type: none;
    padding: 0;
}

.selectedVariants li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
